<style>
    .new-arrival-box-card .price {
    display: none; /* Hides the price */
  }

  .new-arrival-box-card img {
    height: 300px; /* Sets the image height to 300px */
    object-fit: cover; /* Ensures the image is scaled and cropped properly */
    width: 100%; /* Ensures the image fills the container width */
  }
  @media screen and (max-width: 749px) {
    .new-arrival-box-card {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    h2.new-arrival-head {
    font-size: 24px;
    font-family: 'Cinzel-Medium', serif;
    text-align: center;
    color: #545454;
}
}
</style>
<div class="new-arrival-controls-main">
    <div class="new-arrival-control">        
        <div class="new-arrival-box-list">
            {% if section.settings.collection != blank %}
            <div class="new-arrival-box-main">
              {% assign skip_card_product_styles = false %}
                {% for product in section.settings.collection.products limit: 4 %}
                  <div class="new-arrival-box-card">
                      {% render 'card-product-new-arrival',
                        card_product: product,
                        media_aspect_ratio: "potrait",
                        image_shape: "default",
                        show_secondary_image: true,
                        show_vendor: false,
                        show_rating: false,
                        skip_styles: skip_card_product_styles,
                        section_id: section.id,
                        quick_add: "none",
                        newBadge: section.settings.newBadge
                      %}
                  </div>
                  {% assign skip_card_product_styles = true %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    const backButton = `
        <div class="testimonial-arrows testimonial-arrows-previous">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M26.4617 15.5405L7.84366 15.5405L10.686 12.6945L9.846 11.8418L5.53833 16.1495L9.846 20.4571L10.686 19.6175L7.84366 16.7711H26.4617V15.5405Z" fill="#8D0509"></path>
            </svg>
        </div>
    `;
    const nextButton = `
        <div class="testimonial-arrows testimonial-arrows-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                <path d="M5.53834 15.5405L24.1563 15.5405L21.314 12.6945L22.154 11.8418L26.4617 16.1495L22.154 20.4571L21.314 19.6175L24.1563 16.7711H5.53834V15.5405Z" fill="#8D0509"></path>
            </svg>
        </div>
    `;

    function initializeSlider() {
        $(".new-arrival-box-main").each(function () {
            if (!$(this).hasClass('slick-initialized')) {
                $(this).slick({
                    arrows: false,
                    dots: false,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    infinite: true ,
                    autoplay: false,
                    speed: 2000,
                    appendArrows: $(this).parents('.new-arrival-control').find('.new-arrival-arrows-main'),
                    autoplaySpeed: 2000,
                    prevArrow: backButton,
                    nextArrow: nextButton,
                    responsive: [
                      {
                        breakpoint: 1024,
                        settings: {
                          slidesToShow: 4,
                          slidesToScroll: 4                   
                        }
                      },
                      {
                        breakpoint: 749,
                        settings: {
                          slidesToShow: 2,
                          slidesToScroll: 2
                        }
                      },
                      {
                        breakpoint: 400,
                        settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1,
                          infinite: true,
                          speed: 500,
                          fade: true,
                          cssEase: 'linear'
                        }
                      }
                      // can unslick at a given breakpoint now by adding:
                      // settings: "unslick"
                      // instead of a settings object
                    ]

                });

                // Reinitialize slick if images are not fully loaded
                $(this).find('img').on('load', function () {
                    $(this).closest('.new-arrival-box-main').slick('setPosition');
                });
            }
        });
    }

    function destroySlider() {
        $(".new-arrival-box-main").slick('unslick');
    }

    // Initial check on page load
    if ($(window).width() > 0) {
        initializeSlider();
    }

    // Re-check and handle resize events dynamically
    $(window).resize(function () {
        if ($(window).width() > 0) {
            initializeSlider();
        } else {
            destroySlider();
        }
    });
});
</script>

{% schema %}
{
  "name": "New Arrival Section",
  "class": "new-arrival-section",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "What our customer say"
    },
    {
      "type": "text",
      "label": "Sub Text",
      "id": "text",
      "default": "Testimonial"
    },
    {
      "type": "collection",
      "label": "Collection",
      "id": "collection"
    },
    {
      "type": "checkbox",
      "label": "New Badge",
      "id": "newBadge",
      "default": false
    },
    {
      "type": "text",
      "label": "Button",
      "id": "button",
      "default": "Explore All"
    },
    {
      "type": "url",
      "label": "Link",
      "id": "link"
    }
  ],
  "presets": [
    {
    "name": "New Arrival Section"
    }
  ]
}
{% endschema %}
