.collection-list img {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images fill their grid cells without distortion */
}

.collection-list-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0px;
  }

  .section-collection-list .collection-list:not(.slider) {
    /* padding-left: 1.5rem; */
    padding-right: 0.8rem;
    /* display: flex; */
    /* height: 700px; */
    overflow: hidden;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }

  .collection-list{
    display: grid; /* Enable CSS Grid */
      gap: 10px; /* Add space between images */
  
  /* Desktop Layout: 3 columns, 2 rows */
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, auto);
    margin-top: 0;
    margin-bottom: 0;
    place-items: center;
  
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
